<section class="nav-scroll-adjust" id="contacts"></section>
<div class="footer">
    <h3>Contact</h3>
    <h4>I am open to <strong>Job</strong> opportunities where I can contribute, learn and grow.</h4>
    <div class="links">
        <a href="https://github.com/alvin-2002" target="_blank" class="nav-item fa-icon"><fa-icon [icon]="faGit"></fa-icon>GitHub</a>
        <a href="https://www.linkedin.com/in/alvin-lin/" target="_blank" class="nav-item fa-icon"><fa-icon [icon]="faLinkedin"></fa-icon>LinkedIn</a>
        <a href="mailto: alvinmaung@gmail.com" target="_blank" class="nav-item fa-icon"><fa-icon [icon]="faEmail"></fa-icon>Email</a>        
    </div>
</div>
