
<div class="nav-scroll-adjust" id="about"></div>
<div class="about-me-section" appScrollDirective (appear)="onAppear($event)">
    <div class="about-me-wrapper">
        <h3 class="about-me" [ngClass]="{'about-me-underline': display}">About me</h3>
        <div class="about-grid">
                <div class="about-me-text" [@aboutAnimate]="state">
                    <p>Hello! I am a final year Computer Science student studying in Western Sydney University.
                   
                    </p>
                    <p>I have a strong passion for developing and designing software for the web and strives to create website with seamless user experiences pertaining clean, efficient and scalable code.</p>
                    <!-- <p>I have a strong passion for building Web Applications and currently, I am using Angular2+ in my personal projects. </p> -->
                    <!-- <p>I consider learning is a lifetime process and is eager to learn new technology stacks.</p> -->
                    <p>I am expected to complete my studies by the end of 2022 and I am looking for an opportunity to work as a Software Engineer.</p>
                </div>
            <div class="img-container">
                <img src="../../../assets/images/working3.png" alt="">
            </div>
        </div>
    </div>
</div>
