.body {
    background: linear-gradient(to bottom, rgba(35, 37, 38, 0.9), rgba(65, 67, 69, 0.9));
}

.logo-loader{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg path {
    background-color: red;
}